<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Mini Message Board</h1>
  <a href="/new-message">Post new message</a>
  <ul class="messages">
    <li>
      <article id="1" class="message">
        <h2 class="username"></h2>
        <time datetime=""></time>
        <p class="content"></p>
      </article>
    </li>
  </ul>
</body>

<body>
  <a href="/">Go back</a>
  <fieldset>
    <legend>New message draft</legend>
    <form action="/new-message" method="post">
      <label class="field">
        <span class="label">Username: </span>

        <input type="text" name="username" minlength="3" maxlength="10" pattern="([0-9A-Za-z_]{1,10})|John Doe" placeholder="john_doe123" required autocomplete="username">

      </label>
      <label class="field">
        <span class="label">Message: </span>

        <textarea name="message" minlength="1" maxlength="1000" required></textarea>

      </label>

      <button type="submit">Post message</button>
    </form>
  </fieldset>
</body>

<body>
  <a href="/">Go back</a>
  <h1 class="username"></h1>
  <time datetime=""></time>
  <p class="content"></p>
</body>

</html>
